---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Courses</h3>
    {% for course in site.data.settings.courses %}
      <p><a href="{{ site.github.url }}/courses/{{ course.url}}">{{ course.name }}</a></p>
    {% endfor %}
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Workshops</h3>
      <p><a href="https://finnsdottir.github.io/openrefine_fall2025/">Introduction to OpenRefine</a></p>
      <p><a href="https://finnsdottir.github.io/intro_r_fall2025/">Introduction to R & RStudio</a></p>
  </div>
</div>

