---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Undergraduate Courses</h3>
      <p><a href="./courses/syllabi/SOCI215_syllabus.pdf">Class and Social Inequality</a></p>
      <p><a href="./courses/syllabi/SOCI438_syllabus.pdf">Special Topics in Sociology: Democratic Decline, Citizenship, and Gender</a></p>
      <p><a href="./courses/syllabi/SOC340H1S_syllabus.pdf">Comparative Political Sociology</a></p>
      <p><a href="./courses/syllabi/SOC360H1S_syllabus.pdf">Social Movements</a></p>
    </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Workshops</h3>
      <p><a href="https://finnsdottir.github.io/openrefine_fall2025/">Introduction to OpenRefine</a></p>
      <p><a href="https://finnsdottir.github.io/intro_r_fall2025/">Introduction to R & RStudio</a></p>
  </div>
</div>

