---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/profilepic.jpeg" alt="Home" width="100%">
  </div>
</div>

<body>
I am also a part of the national HSS team at Digital Research Alliance of Canada and as part of that work I am involved in national research activity and advocacy focused on promoting social science and humanities research and computation along with other HSS specialists at universities across the country.
<br>
<br>
I hold a Ph.D. in Sociology from the University of Toronto, awarded in 2024. I am a mixed methods researcher with a substantive interest in women’s representation and gendered inequality in far-right politics. My current research takes up questions of political communication and gender in populist and far-right politics in Canada and in Western Europe using a variety of computational methods and tools. 
<br>
<br>
I am currently co-lead on a SSHRC Insight Development Grant, "Constellation of Truths: Mapping (Un)civil Society’s Knowledge Production in Diverse Border Regions," interrogating the epistemic struggles between activist groups in contentious border regions. 
<br>
<br>
</body>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
